# Python
__pycache__/
*.pyc
*.pyo

# Tests
.pytest_cache/

# Obsidian
.obsidian/

# Compiled binaries
*.dll
*.obj
*.exp
*.lib

# Secrets
.env
*.env

# Reports
report_rl_transformer.pdf
report_pipeline.md

# wandb
training_mlp/wandb/
wandb/